<div class="p-4 h-full bg-green-600">
  <mat-spinner *ngIf="showSpinner" class="mx-auto" />
  <div *ngIf="!showSpinner">
    <div class="flex flex-col">
      <app-profile-pic
        class="mx-auto"
        size="w-24"
        textSize="text-3xl"
        [pic]="player.profilePic"
        [firstName]="player.firstName"
        [lastName]="player.lastName"
      />

      <h2 class="text-3xl font-bold mb-2 text-center">
        {{ player.firstName }} {{ player.lastName }}
        {{ flagService.getFlag(player.country) }}
      </h2>
    </div>
    <div class="flex flex-col gap-2 w-full text-2xl text-center justify-center">
      <p *ngIf="this.rank != null" class="">
        Rank: {{ this.rank }}
      </p>

      <p *ngIf="this.titles != null" class="">
        Titles: {{ this.titles }}
      </p>

      <p *ngIf="player.sponsor != null && player.sponsor != ''" class="text-sm">
        Sponsored by {{ player.sponsor }}
      </p>

      <p *ngIf="player.bio != null">
        {{ player.bio }}
      </p>
      <!-- <hr class="border-black" /> -->
      <div>{{ player.wins }}-{{ player.losses }}</div>
      <div>{{ player.points }} points</div>
      <!-- head to head button -->
      <button
        mat-flat-button
        class="mx-auto"
        (click)="this.directH2H()"
      >
        HEAD2HEAD
      </button>
    </div>
    <div>
      <h2 class="text-4xl font-bold my-4 text-center">Matches</h2>
      <div
        *ngIf="!showSpinner && playerMatches.length === 0"
        class="text-center text-2xl"
      >
        <span>No matches found</span>
      </div>
      <div class="flex flex-col gap-4">
        <div *ngFor="let match of playerMatches">
          <app-match [match]="match" [showTournament]="true"></app-match>
        </div>
      </div>
    </div>
  </div>
</div>
