<div class="drawer z-50">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-base-100">
      <div class="flex-none lg:hidden">
        <label
          for="my-drawer-3"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </label>
      </div>
      <div class="flex-1">
        <a class="btn btn-ghost text-xl p-1" routerLink="/">
          <img src="../../assets/tennis_ball.png" class="h-8" />

          GTA Tour</a
        >
      </div>
      <div class="flex-none hidden lg:flex">
        <ul class="menu menu-horizontal gap-2 items-center">
          <li *ngIf="!authService.currentUser">
            <button
              class="btn btn-primary btn-outline"
              routerLink="/sign-up"
              routerLinkActive="active"
            >
              Join the Tour
            </button>
          </li>
          <li *ngIf="!authService.currentUser">
            <button
              class="btn btn-primary btn-outline"
              routerLink="/sign-in"
              routerLinkActive="active"
            >
              Sign In
            </button>
          </li>
          <li>
            <button
              class="btn btn-primary btn-outline"
              routerLink="/rankings"
              routerLinkActive="active"
            >
              Rankings
            </button>
          </li>
          <li>
            <button
              class="btn btn-primary btn-outline"
              routerLink="/matches"
              routerLinkActive="active"
            >
              Matches
            </button>
          </li>
        </ul>
        <div
          *ngIf="authService.currentUser"
          class="dropdown dropdown-end p-0.5"
        >
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle avatar"
          >
            <div class="w-9 rounded-full no-animation">
              <img
                alt="Tailwind CSS Navbar component"
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
              />
            </div>
          </div>
          <ul
            tabindex="0"
            class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52"
          >
            <li>
              <a class="justify-between" routerLink="/profile"> Profile </a>
            </li>
            <li><a routerLink="" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-3"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200">
      <!-- Sidebar content here -->
      <li (click)="closeSidebar()">
        <a class="" routerLink="/"> Home </a>
      </li>
      <li *ngIf="!authService.currentUser" (click)="closeSidebar()">
        <a class="" routerLink="/sign-up"> Join the Tour </a>
      </li>
      <li *ngIf="!authService.currentUser" (click)="closeSidebar()">
        <a class="" routerLink="/sign-in"> Sign In </a>
      </li>
      <li *ngIf="authService.currentUser" (click)="closeSidebar()">
        <a class="" routerLink="/profile"> Profile </a>
      </li>

      <li (click)="closeSidebar()">
        <a class="" routerLink="/rankings"> Rankings </a>
      </li>
      <li (click)="closeSidebar()">
        <a class="" routerLink="/matches"> Matches </a>
      </li>
      <li *ngIf="authService.currentUser" (click)="logout(); closeSidebar()">
        <a class="">Logout</a>
      </li>
    </ul>
  </div>
</div>
