<div class="navbar bg-base-100">
  <div class="flex-1">
    <img src="../../assets/tennis_ball.jpg" class="h-8" />
    <a class="btn btn-ghost text-xl">GTA Tour</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-lg flex gap-3">
      <li>
        <button class="btn btn-primary btn-outline">Join the Tour</button>
      </li>
      <li>
        <button class="btn btn-primary btn-outline">View Scores</button>
      </li>
      <li>
        <button class="btn btn-primary btn-outline">View Matches</button>
      </li>
    </ul>
  </div>
</div>