<div class="bg-green-600 h-full overflow-auto">
  <div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-4 text-center">Join the GTA Tour!</h1>
    <form
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col max-w-sm gap-1 w-full"
    >
      <mat-form-field>
        <mat-label>First name</mat-label>
        <mat-error *ngIf="firstName?.hasError('required')"
          >First name is required</mat-error
        >
        <input
          matInput
          id="firstNameInput"
          type="text"
          formControlName="firstName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <mat-error *ngIf="lastName?.hasError('required')"
          >Last name is required</mat-error
        >
        <input
          matInput
          id="lastNameInput"
          type="text"
          formControlName="lastName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-error *ngIf="country?.hasError('required')"
          >Country is required</mat-error
        >
        <mat-select
          id="country"
          name="country"
          type="text"
          formControlName="country"
          class="w-full max-w-xs"
        >
          <mat-option *ngFor="let country of countryNames" [value]="country">
            {{ country + " " + getCountryFlag(country) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <mat-error *ngIf="email?.hasError('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="email?.hasError('email')">Invalid email</mat-error>
        <input matInput id="emailInput" type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <mat-error *ngIf="password?.hasError('required')"
          >Password is required</mat-error
        >
        <mat-error *ngIf="password?.hasError('minlength')"
          >Password must be at least 6 characters</mat-error
        >
        <input
          matInput
          id="passwordInput"
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Access Code</mat-label>
        <input
          matInput
          #accessCodeInput
          id="accessCodeInput"
          type="text"
          formControlName="accessCode"
          class="w-full max-w-xs"
        />
      </mat-form-field>
      <p class="pb-4 text-sm">
        Authentication is managed by Google, ensuring your password remains private and secure.
      </p>
      <div class="flex gap-3 items-center">
        
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="w-40"
          [disabled]="!signInForm.valid"
        >
          Join the Tour
        </button>
        <mat-spinner *ngIf="showSpinner" diameter="30"></mat-spinner>
      </div>
    </form>
    <p class="mt-3 text-red-700" *ngIf="isError">
      {{ this.errorText }}
    </p>
    <p class="mt-3">
      Already have an account?
      <a routerLink="/sign-in" routerLinkActive="active"
        ><span class="text-blue-700">Sign in</span></a
      >
    </p>
  </div>
</div>
