<div class="h-full">
  <div class="flex flex-col max-w-screen-sm p-4">
    <h2 class="text-4xl font-bold mb-4">Add Match</h2>
    <form [formGroup]="matchForm" (ngSubmit)="onSubmit()" class="flex flex-col">
      <!-- <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
      <div class="max-w-80 flex flex-col">
        <mat-form-field hideRequiredMarker>
          <mat-label>Tournament</mat-label>
          <mat-select formControlName="tournament">
            <mat-option
              *ngFor="let tournamentOption of tournamentDropdownOptions"
              [value]="tournamentOption.id"
              >{{ tournamentOption.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
          <mat-label>Round</mat-label>
          <mat-select formControlName="round">
            <mat-option *ngFor="let round of roundOptions" [value]="round">{{
              round
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
          <mat-label>Winner</mat-label>
          <mat-select [(value)]="selectedWinner" formControlName="winner">
            <mat-option
              *ngFor="let player of playerDropdownOptions"
              [value]="player.id"
              >{{ player.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
          <mat-label>Loser</mat-label>
          <mat-select [(value)]="selectedLoser" formControlName="loser">
            <mat-option
              *ngFor="
                let player of playerDropdownOptions | filter : selectedWinner
              "
              [value]="player.id"
              >{{ player.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="max-w-40">
          <mat-label>Set 1</mat-label>
          <input matInput formControlName="set1" />
        </mat-form-field>
        <mat-form-field class="max-w-40">
          <mat-label>Set 2</mat-label>
          <input matInput formControlName="set2" />
        </mat-form-field>
        <mat-form-field class="max-w-40">
          <mat-label>Set 3</mat-label>
          <input matInput formControlName="set3" />
          <!-- <mat-hint>Leave blank if not needed</mat-hint> -->
        </mat-form-field>
        <!-- <mat-button-toggle-group formControlName="status" class="w-fit mb-7">
        <mat-button-toggle
          *ngFor="let status of statusOptions"
          [value]="status"
          >{{ status }}</mat-button-toggle
        >
      </mat-button-toggle-group> -->
        <mat-form-field hideRequiredMarker>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statusOptions" [value]="status">{{
              status
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!matchForm.valid"
      >
        Add Match
      </button> -->
      <button mat-raised-button color="primary" type="submit" class="w-40">
        Add Match
      </button>
    </form>
  </div>
</div>
