<div class="p-4 h-screen bg-green-600">
  <h2 class="text-3xl font-bold text-center">Profile</h2>
  <mat-spinner *ngIf="showSpinner" class="mx-auto mt-2"></mat-spinner>
  <div *ngIf="!showSpinner">
    <mat-tab-group>
      <mat-tab label="Info">
        <div class="flex flex-col">
          <app-profile-pic
            class="mx-auto mt-2"
            size="w-24"
            textSize="text-3xl"
            [pic]="this.profilePic"
            [firstName]="this.firstName"
            [lastName]="this.lastName"
          >
          </app-profile-pic>

          <div *ngIf="showEdit" class="">
            <div
              class="mt-2 text-blue-600 text-center cursor-pointer"
              (click)="changeProfilePic()"
            >
              Change profile picture
            </div>
            <div
              *ngIf="this.showImageSpinner"
              class="flex flex-col items-center"
            >
              <span>Saving picture...</span
              ><mat-spinner [diameter]="30"></mat-spinner>
            </div>
          </div>
          <div class="mt-1 text-center">
            <div *ngIf="!showEdit">
              <p *ngIf="firstName != null" class="text-2xl">
                {{ firstName }} {{ lastName }}
                {{ flagService.getFlag(country!) }}
              </p>
              <p *ngIf="sponsor != null && sponsor != ''" class="text-sm">
                Sponsored by {{ sponsor }}
              </p>
              <p
                *ngIf="sponsor != null && sponsor == ''"
                class="italic underline cursor-pointer text-blue-700"
                (click)="showEdit = true"
              >
                Add a sponsor
              </p>

              <p *ngIf="bio != null">
                {{ bio }}
              </p>
              <p
                *ngIf="bio != null && bio == ''"
                class="italic underline cursor-pointer text-blue-700"
                (click)="showEdit = true"
              >
                Add a bio
              </p>
            </div>

            <button
              *ngIf="!showEdit"
              mat-raised-button
              color="primary"
              class="mt-2 scale-85"
              (click)="showEditForm()"
            >
              <mat-icon>edit</mat-icon>Edit profile
            </button>
          </div>
        </div>
        <div *ngIf="showEdit" #formDiv class="mt-2">
          <form
            [formGroup]="profileForm"
            #formDirective="ngForm"
            (ngSubmit)="onSubmit()"
            class="flex flex-col gap-1 w-full items-center"
          >
            <mat-form-field class="w-4/5">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country">
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{ country }} {{ flagService.getFlag(country) }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field hideRequiredMarker class="w-4/5">
              <mat-label>Sponsor</mat-label>
              <input matInput formControlName="sponsor" />
            </mat-form-field>

            <mat-form-field hideRequiredMarker class="w-11/12">
              <mat-label>Bio</mat-label>
              <textarea
                matInput
                formControlName="bio"
                rows="4"
                class="resize-none"
              ></textarea>
            </mat-form-field>
            <mat-spinner
              *ngIf="showEditSpinner"
              class="mx-auto my-2"
            ></mat-spinner>

            <button
              *ngIf="showEdit"
              mat-raised-button
              color="primary"
              class="-mt-2 scale-85"
              type="submit"
              (click)="closeEditForm()"
            >
              <mat-icon>done</mat-icon>Done
            </button>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Matches">
        <div class="mt-2">
          <div
            *ngIf="!showSpinner && matches.length === 0"
            class="text-center text-2xl"
          >
            <span class="text-xl">No matches</span>
          </div>
          <div class="flex flex-col gap-4">
            <div *ngFor="let match of matches">
              <app-match [match]="match"></app-match>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
