<div class="p-4 bg-green-600 min-h-screen h-full">
  <h2 class="text-3xl font-bold mb-4 text-center">Sobeys™ Head2Head</h2>
  <mat-spinner *ngIf="showSpinner" class="mx-auto" />
  @if (this.id1 && this.id2) {
  <div class="flex mt-2 justify-between" *ngIf="!showSpinner">
    <div class="flex flex-col items-center">
      <app-profile-pic
        [pic]="player1.profilePic"
        [firstName]="player1.firstName"
        [lastName]="player1.lastName"
        textSize="text-sm"
        class="mx-auto"
        size="w-12"
      ></app-profile-pic>
      <a
        [routerLink]="['/player', player1.id]"
        class="font-bold text-center text-blue-700"
        >{{ player1.firstName }} {{ player1.lastName }}</a
      >
      
      <div class="flex gap-1 text-2xl w-fit">
        <span class="text-center text-3xl">{{
          this.flagService.getFlag(this.player1.country)
        }}</span>
        <span class="text-center font-bold">{{
          this.flagService.getCode(this.player1.country)
        }}</span>
      </div>
    </div>
    <div class="text-5xl font-semibold h-fit self-center">
      {{ this.player1Wins }}-{{ this.player2Wins }}
    </div>
    <div>
      <div class="flex flex-col items-center">
        <app-profile-pic
          [pic]="player2.profilePic"
          [firstName]="player2.firstName"
          [lastName]="player2.lastName"
          textSize="text-sm"
          class="mx-auto"
          size="w-12"
        ></app-profile-pic>
        <a
          [routerLink]="['/player', player2.id]"
          class="font-bold text-center text-blue-700"
          >{{ player2.firstName }} {{ player2.lastName }}</a
        >
        <div class="flex gap-1 text-2xl w-fit">
          <span class="text-center font-bold">{{
            this.flagService.getCode(this.player2.country)
          }}</span>
          <span class="text-center text-3xl">{{
            this.flagService.getFlag(this.player2.country)
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group *ngIf="!showSpinner">
    <mat-tab label="Bio">
      <div class="flex flex-col mt-1 px-2">
        <div class="flex justify-between">
          <div>
            {{ this.player1Rank }}
          </div>
          <div class="text-xs font-semibold min-w-12 text-center">Rank</div>
          <div>
            {{ this.player2Rank }}
          </div>
        </div>
        <div class="flex justify-between">
          <div>
            {{ this.player1Titles }}
          </div>
          <div class="text-xs font-semibold min-w-12 text-center">Titles</div>
          <div>
            {{ this.player2Titles }}
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Matches">
      <div>
      </div>
    </mat-tab>
  </mat-tab-group>
  }
</div>
