<div class="p-4 bg-green-600 min-h-screen h-full">
  <h2 class="text-3xl font-bold mb-4 text-center">Head 2 Head</h2>
  @if (this.id1 && this.id2) {
  <div class="flex mt-2 justify-between">
    <div class="flex flex-col gap-2">
      <app-profile-pic
        [pic]="player1.profilePic"
        [firstName]="player1.firstName"
        [lastName]="player1.lastName"
        textSize="text-sm"
        class="mx-auto"
        size="w-24"
      ></app-profile-pic>
      <span class="text-xl font-bold text-center"
        >{{ player1.firstName }} {{ player1.lastName }}</span
      >
    </div>

    <div>
      <div class="flex flex-col gap-2">
        <app-profile-pic
          [pic]="player2.profilePic"
          [firstName]="player2.firstName"
          [lastName]="player2.lastName"
          textSize="text-sm"
          class="mx-auto"
          size="w-24"
        ></app-profile-pic>
        <span class="text-xl font-bold text-center"
          >{{ player2.firstName }} {{ player2.lastName }}</span
        >
      </div>
    </div>
  </div>
  }
</div>
