<div class="container mx-auto p-6">
  <h1 class="text-5xl font-bold">Join the GTA Tour!</h1>
  <p class="py-6 text-xl">
    To join the tour, simply fill out the form below! Make sure to play some
    matches and earn points to climb the rankings!
  </p>
  <form
    [formGroup]="joinTourForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 max-w-xs w-full"
  >
    <label>
      First Name:
      <input
        type="text"
        formControlName="first_name"
        class="input input-bordered w-full max-w-xs"
      />
    </label>
    <label>
      Last Name:
      <input
        type="text"
        formControlName="last_name"
        class="input input-bordered w-full max-w-xs"
      />
    </label>
    <label>Country:</label>
    <select
      id="country"
      name="country"
      type="text"
      formControlName="country"
      class="input input-bordered w-full max-w-xs"
    >
      <option *ngFor="let country of countryNames" [value]="country">
        {{ country }}
      </option>
    </select>
    <button type="submit" class="btn btn-primary">Join the Tour</button>
  </form>
</div>
