<div class="hero min-h-screen bg-green-500 text-white">
  <div class="hero-content flex-col lg:flex-row">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Rune_MCM22_%2810%29_%2852036646654%29.jpg/220px-Rune_MCM22_%2810%29_%2852036646654%29.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Welcome to the GTA Tour!</h1>
      <p class="py-6 text-xl">The GTA Tour is an exhilarating tennis circuit that showcases the best of competitive tennis talent across the Greater Toronto Area. Anchored by prestigious events like the Bloomfield Open and the Glen Abbey Tennis Championships, this tour offers players of all levels the opportunity to test their skills, compete against top-notch opponents, and immerse themselves in the vibrant tennis community of the GTA. </p>
      <a routerLink="/scores" routerLinkActive="active">
        <button class="btn btn-primary">View Scores</button>
      </a>
    </div>
  </div>
</div>