<div class="p-4 h-full bg-green-600">
  <h2 class="text-3xl font-bold mb-4">Rankings</h2>
  <mat-spinner *ngIf="showSpinner" class="mx-auto"/>
  <table mat-table [dataSource]="allPlayers" *ngIf="!showSpinner">
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef>Rank</th>
      <td mat-cell *matCellDef="let player, let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let player">
        <a [routerLink]="['/player', player.id]" class="underline">
        {{ player.firstName[0] }}. {{ player.lastName }}
        </a> {{ getFlag(player.country) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef>Points</th>
      <td mat-cell *matCellDef="let player">{{ player.points }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef>Wins</th>
      <td mat-cell *matCellDef="let element">{{ element.wins }}</td>
    </ng-container>

    <ng-container matColumnDef="losses">
      <th mat-header-cell *matHeaderCellDef>Losses</th>
      <td mat-cell *matCellDef="let element">{{ element.losses }}</td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
